/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .searchbar {
    display: none;
  }

  #homeText {
    display: none;
  }
  #aboutText {
    display: none;
  }
  #newsText {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .searchbar {
    display: none;
  }
  #homeIcon {
    display: none;
  }
  #aboutIcon {
    display: none;
  }
  #newsIcon {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .searchbar {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.nav-pills .nav-link:hover {
  background-color: #007bff;
}